<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

        <bean id="user" class="org.example.annontationbased1.User">
                <property name="userName" value="hailo"/>
                <property name="password" value="123"/>
        </bean>

        <bean id="group" class="org.example.annontationbased1.Group">
                <property name="groupName" value="Administrator"/>

        </bean>
</beans>