<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="facutly" class="org.example.autosrping.Facutly">
        <property name="f_name" value="Facutly of Information Technology"/>
    </bean>

    <bean id="dept4" class="org.example.autosrping.Department" autowire="byType">
        <property name="d_name" value="SE"/>
    </bean>

</beans>